server/Web/Properties/launchSettings.json
client/src/_helpers/config.js
*.vscode
*.idea



server/.vs
server/DataLayer/.vs
server/Web/.vs


server/Web/.vs/WebApi/v16/.suo
server/Web/.vs/WebApi/v16/Server/sqlite3/db.lock
server/Web/.vs/WebApi/v16/Server/sqlite3/storage.ide
