.card{

    margin-bottom: 10px;
}

.card .card-body .btn{
    padding: 0.2rem 0.2rem !important;
    background: #3d5fc9 !important; /* Цвет фона */
    opacity: 0.5 !important; /* Полупрозрачный фон */
    color: #ffffff;
    font-size: 10px !important;

}